
<div class= "row">
  <div class = "well col-md-8 col-md-offset-2">

    <%= form_for @recipee do |form| %>

      <div class="container">
        <%= form.label :name%>
      </div>
      <div class= "container">
        <%= form.text_field :name, placeholder: " min 5, max 100" %>
      </div>

      <div class= "container">
        <%= form.label :summary %>
      </div>
      <div class="container">
        <%= form.text_field :summary, placeholder: " min 10, max 150"%>
      </div>

      <div class= "container">
        <%= form.label :description%>
      </div>
      <div class= "container">
        <%= form.text_area :description, rows: 5,  placeholder: " min 20, max 500"%>
      </div>

      <div class= "container">
        <%= form.submit class: "btn btn-warning" %>
      </div>

    <% end %>
  </div>
</div>
